<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link rel="icon" href="./img/icon.svg" >
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Ajuda</title>
</head>
<body>
  <div class="main-content" >
    {{>header}}
    <h1>Help page</h1>
  </div>
  {{>footer}}
</body>
</html>