<footer>
  <div class="flex column" style="align-items: center;" >
    <p>Desenvolvido por <a target="_blank" href="https://potatosenior.github.io/Me/" >João Pedro</a></p>
    <div class="flex" style="margin-top: 2%; justify-content: space-evenly; min-width: 100vh" >
      <a href="/" >
        Inicio
      </a>
      <a href="/about" >
        Sobre
      </a>
      <a href="help" >
        Ajuda
      </a>
    </div>
  </div>
</footer>