<header>
  <nav class="flex">
    <p class="header__title">Clima<span>X</span></p>
    <div class="flex header__list">
      {{#ifEquals this.active "index"}}
        <a class="active" href="/" >
      {{else}}
        <a href="/" >
      {{/ifEquals}}
        Inicio
      </a>
      {{#ifEquals this.active "about"}}
        <a class="active" href="/about" >
      {{else}}
        <a href="/about" >
      {{/ifEquals}}
        Sobre
      </a>
{{!--         {{#ifEquals this.active "help"}}
        <a class="active" href="/help" >
      {{else}}
        <a href="/help" >
      {{/ifEquals}}
        Ajuda
      </a> --}}
    </div>
  </nav>
</header>